<!-- Fragmento de favicons estándar para incluir dentro de <head>. -->
<th:block th:fragment="head-favicon">
    <link rel="icon" type="image/x-icon" sizes="32x32" th:href="@{/favicon/favicon-32x32.ico}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon/favicon-96x96.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/favicon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/favicon/favicon-192x192.png}">
    <link rel="icon" type="image/png" sizes="512x512" th:href="@{/favicon/favicon-512x512.png}">
</th:block>
